body {
    margin: 0;
}

/* header */
#header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
}

.content {
    display: flex;
    flex-direction: column;
}

.header, ul {
    display: flex;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 16px 128px;
}

.header-main {
    background-color: #1f2937;
    padding: 64px 128px;
    display: flex;
    gap: 32px;
}

#header-main-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

#header-main-paragraph {
    font-size: 18px;
    color: #e5e7eb;
}

.header-main img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#header-main-content button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 16px;
    border: none;
    font-weight: 800;
    border-radius: 10px;
    margin-top: 8px;
}

/* information */
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 128px;
    gap: 32px;
}

#information-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937
}

.cards {
    display: flex;
    gap: 32px;
}

.box {
    border: 2px solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.card {
    width: 200px;
    height: 200px;
}

.card-text {
    font-size: 18px;
    color: gray;
    margin-top: 8px;
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

/* quote */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 128px 256px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1f2937;
}

.quote-name {
    font-weight: 800;
    color: #1f2937;
    align-self: flex-end;
}

/* action */

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 128px; 
}

.bar {
    background-color: #3882f6;
    display: flex;
    padding: 32px 128px;
    justify-content: space-between;
    border-radius: 10px;
    flex: 1;
}

.bar-title, .bar-text {
    color: #f9faf8;
}

.bar-title {
    font-weight: 800;
    font-size: 24px;
}

.bar button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 16px;
    align-self: center;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    font-weight: 800;
}